allow cnd self:capability { net_raw };

add_hwservice(cnd, hal_datafactory_hwservice)

allow cnd system_wpa_socket:sock_file { unlink };

##############################################################
#for using public interface vendor.qti.data.factory
#client should add their domain to cnd.te
##############################################################
userdebug_or_eng(`
  binder_call(cnd, radio)
')
