# Rild
type rild_file, file_type, vendor_file_type;
# /vendor/bin/awk
type vendor_awk_exec, file_type, vendor_file_type;
# hvdcp_opti (quick charger daemon)
type sysfs_qpnp_vadc, fs_type, sysfs_type;
# sysfs node for the bq25892 charger node on the i2c bus
type sysfs_i2c_bq25892_charger, fs_type, sysfs_type;
