allow hal_dpmQmiMgr qmuxd_socket:dir { write add_name };
allow hal_dpmQmiMgr qmuxd_socket:sock_file { create write };
allow hal_dpmQmiMgr qmuxd:unix_stream_socket connectto;
