# Bluetooth and Wifi fixes
allow qti_init_shell bluetooth_loader_exec:file { getattr open read execute_no_trans };
allow qti_init_shell hci_attach_dev:chr_file { open ioctl read write};
allow wcnss_service system_data_file:file { open read };

