# vim: set ft=sh:

service config_bluetooth /system/etc/init.qcom.bt.sh "onboot"
    class core
    user root
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start config_bluetooth

