# vim: set ft=sh:

service config_bt_addr /vendor/bin/sh -c "/vendor/bin/btnvtool -O"
    class core
    user bluetooth
    group bluetooth radio
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start config_bt_addr

