# vim: set ft=sh:

# Data Power Manager Daemon
service dpmd /vendor/bin/dpmd
    class late_start
    socket dpmd stream 660 root system
    socket dpmd stream 660 root system

on post-fs-data
    # Create the directories used by DPM subsystem
    mkdir /data/dpm 0771 system system
    chown system system /data/dpm

    mkdir /data/dpm/nsrm 0771 system system
    chown system system /data/dpm/nsrm

on property:persist.env.fastdorm.enabled=true
    setprop persist.radio.data_no_toggle 1

