# vim: set ft=sh:

service hci_filter_root /vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth oem_2901 system
    disabled

on property:wc_transport.start_root=true
    start hci_filter_root

on property:wc_transport.start_root=false
    stop hci_filter_root
