# vim: set ft=sh:

service ipacm /system/bin/ipacm
    class main
    user net_admin
    group net_admin inet
    disabled

on post-fs-data
    mkdir /data/misc/ipa 0700 net_admin net_admin

on boot
    start ipacm

