# vim: set ft=sh:

service vendor.ipacm /system/vendor/bin/ipacm
    class late_start
    user radio
    group radio inet
    disabled

# YTX703L
on property:ro.baseband=msm
    enable vendor.ipacm

on post-fs-data
    #create ipacm log dir
    mkdir /data/vendor/ipa 0770 radio radio
    chmod 0770 /data/vendor/ipa
