# vim: set ft=sh:

service loc_launcher /vendor/bin/loc_launcher
    #loc_launcher will start as root and set its uid to gps
    class late_start
    group gps inet net_raw oem_2901 net_admin wifi

on post-fs-data
    # Create directories for Location services
    mkdir /data/vendor/location 0770 gps gps
    mkdir /data/vendor/location/mq 0770 gps gps
    mkdir /data/vendor/location/xtwifi 0770 gps gps
    mkdir /data/vendor/location/gpsone_d 0770 system gps
    mkdir /data/vendor/location/quipc 0770 gps system
    mkdir /data/vendor/location/gsiff 0770 gps gps
