# vim: set ft=sh:

service per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:sys.shutdown.requested=*
    stop per_proxy

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

