# vim: set ft=sh:

service perfd /system/vendor/bin/perfd
    class late_start
    user root
    socket perfd seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

on post-fs-data
    # Create perfd daemon related dirs
    mkdir /data/system/perfd 0770 root system
    chmod 2770 /data/system/perfd

