# vim: set ft=sh:

#start camera server as daemon
service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks

on post-fs-data
    # Create folder for mm-qcamera-daemon
    mkdir /data/misc/camera 0770 camera camera

on property:vold.decrypt=trigger_restart_framework
    restart vendor.camera-provider-2-4
