# vim: set ft=sh:

service qcom-post_boot /vendor/bin/sh /vendor/bin/init.qcom.post_boot.sh
    class main
    user root
    disabled
    oneshot

on boot
    start qcom-post_boot

# Also started "on charger", but that trigger needs to stay in
# /init.qcom.power.rc, since the system partition is mounted manually
