# vim: set ft=sh:

service start_hci_filter /vendor/bin/wcnss_filter
    class late_start
    user root
    group bluetooth oem_2901
    disabled

on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
    stop start_hci_filter

