# vim: set ft=sh:

# Time service
service timekeep /system/bin/timekeep restore
    class late_start
    user system
    group system
    oneshot
    writepid /dev/cpuset/system-background/tasks

on boot
    # Create folder for timekeep
    mkdir /data/time/ 0777 system system
    chmod 0666 /data/time/ats_2
