# vim: set ft=sh:

# Start the proprietary component of the GPS HIDL HAL
service qti_gnss_service /vendor/bin/hw/vendor.qti.gnss@1.0-service
    class hal
    user gps
    group system gps radio

on post-fs-data
    #Create directories for Location services
    mkdir /data/vendor/location 0770 gps gps
    mkdir /data/vendor/location/mq 0770 gps gps
    mkdir /data/vendor/location/xtwifi 0770 gps gps
    mkdir /dev/socket/location 0770 gps gps
    mkdir /dev/socket/location/mq 0770 gps gps
    mkdir /dev/socket/location/xtra 0770 gps gps
