# vim: set ft=sh:

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start wcnss-service

